html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: monospace, sans-serif;
    font-size: 16px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: rgb(95, 93, 93);
    border: none;
    border-radius: 3px;
    color: rgb(253, 106, 53);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.display {
    height: 100px;
    background-color: rgb(95, 93, 93);
    border-radius: 5px;
    color: whitesmoke;
    font-size: 35px;
    font-weight: 700;
    text-align: end;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}