:root {
	--body: #EDEDED;
	--calcBody: #262626; 
	--calcScreen: #D0D0D0;
	--calcBtn: hsl(0, 0%, 93%);
	--lightBlue: hsl(216, 100%, 83%);
	--lightGreen: hsl(153, 56%, 72%);
	--lightPurple: hsl(244, 100%, 86%);
	--white: #FDFDFD;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: sans-serif;
}
button {
	cursor: pointer;
	outline: none;
	border: none;
	text-decoration: none;
	text-align: center;
	font-size: 1.8rem;
	width: 100%;
}
p {
	color: var(--white);
}
h1 {
	font-size: 4rem;
	text-align: center;
}

a {
	text-decoration: none;
}

/*CONTAINER*/
.container {
	height: 100vh;
	background: var(--body);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/*MAIN*/
.main {
	display: flex;
	justify-content: center;
	align-items: center;
}
/*CALCULATOR*/
.calculator {
	background-color: var(--calcBody);
	padding: 2rem;
	margin-top: 20rem;
	border-radius: 1rem;
}

/*CALC-DISPLAY*/
#display {
	height: 10rem;
	background-color: var(--calcScreen);
	margin-bottom: 1rem;
	border-radius: 5px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-right: .5rem;
	font-weight: 700;
	font-size: 5rem;
}

/*BUTTONS-GRID*/
.buttons-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}
.btn {
	padding: 1.5rem 2.5rem;
	background-color: var(--calcBtn);
	border-radius: 2rem;
	font-size: 2rem;
}
.span-two {
	grid-column: span 2;
}
.blue {
	background-color: var(--lightBlue);
}
.purple {
	background-color: var(--lightPurple);
}
.green {
	background-color: var(--lightGreen);
}
/*hover*/
.btn:hover {
	background: var(--white);
}
.blue:hover {
	background-color: hsl(216, 100%, 87%)
}
.green:hover {
	background-color: hsl(153, 56%, 76%);
}
.purple:hover {
	background-color: hsl(244, 100%, 90%);
}
/*FOOTER*/
.footer {
	width: 100%;
	background: var(--calcBody);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;

}
.profile-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
}